# Dependencies
/frontend/node_modules/
/frontend/.next
/frontend/package-lock.json
/backend/.venv
*__pycache__
/backend/riskchain/db.sql*
/backend/riskchain/test*
*.env
.idea
.DS_Store
*.pyc
*qdrant.db*
supplychains_sequences.npz
rnn_model_*
scaler_y*
encoder_decoder_epoch_*